@charset "utf-8";

/* メインイメージ設定 */
#mainimg {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #000;
  overflow: hidden;
}

#mainimg img {
  width: 100%;
  max-width: 100%;
  height: auto;
  display: block;
}

/* 以下はスライドショー用の古いスタイル（現在未使用） */
#mainimg div div {
  width: 45vw;
}

.slide {
  width: 100%;
  height: 100%;
  position: absolute;
  right: 0px;
  top: 0px;
  display: flex;
  align-items: center;
  padding: 0 5vw;
  justify-content: center;
  text-align: center;
  opacity: 0;
  transition: opacity 1s;
}

.slide1 {
  background: url('../images/Background.png') no-repeat center/cover;
}

.slide2 {
  background: url('../images/Background.png') no-repeat center/cover;
}

.slide3 {
  background: url('../images/Background.png') no-repeat center/cover;
}

#mainimg h1 {
  margin: 0;
  padding: 0;
  font-size: 6vw;
  line-height: 1.5;
  font-weight: 500;
}

#mainimg p {
  font-size: 1.4vw;
  padding-left: 0.5rem;
}

.slide {
  pointer-events: none;
}

.slide.active {
  pointer-events: auto;
}
